<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271122339115-ikh72jpgje1q5qollo4a89lnnugtjem4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271122339115-ikh72jpgje1q5qollo4a89lnnugtjem4</string>
	<key>API_KEY</key>
	<string>AIzaSyB3zhoJBfbLJmk7HrTDTXiGaGuJbKnPCJY</string>
	<key>GCM_SENDER_ID</key>
	<string>271122339115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flower.flower</string>
	<key>PROJECT_ID</key>
	<string>flower-6f070</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-6f070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271122339115:ios:9a0a24b1c49d56bf78216e</string>
</dict>
</plist>